<h3>Add New Song</h3>


<br>  

<form action="/songs" method="POST">
  <p>
  <label for="song_name"><strong>Song Name:</strong></label>
  <input type="text" name="song_name">
  </p>

  <p>
  <label for="artist_name">Artist:</label>
  <input type="text" name="artist_name">
  </p><p>
  <label for="genre_name">Genre:</label>
  <input type="text" name="genre_name">
  </p>

  <button type="submit">Add Song</button>
</form>

<br>