  <h1>New Song</h1>

  <form action="/songs" method="POST">
    <p>
    <label for="song_name">Song Title:</label>
    <input type="text" name="song_name">
    </p><p>
    <label for="artist_name">Artist:</label>
    <input type="text" name="artist_name">
    </p><p>
    <label for="genre_name">Genre:</label>
    <input type="text" name="genre_name">
    </p>

    <button type="submit">Add New Song</button>
  </form>