<h3>Songs</h3>

<ol>
  <% songz = @songs.sort{|s1, s2| s1.name.downcase <=> s2.name.downcase} %>
  <% max_song   = Song.longest_name_length(songz) %>
  <% max_artist = Artist.longest_name_length(songz.collect{|song| song.artist}) %>
  <% songz.each do |song| %>
    <li><a href="/songs/<%= song.to_param %>"><pre><%= song.print_with_links(max_song, true, max_artist) %></pre></a></li>
  <% end %>
</ol>

</br>