
<div class="page-title">

  <h2>Welcome!</h2>

  <br>
  <h3>Browse by:</h3>


    <li><a href="/artists">Artist</a></li>
    <li><a href="/songs">Song</a></li>
    <li><a href="/genres">Genre</a></li>
  <br>
  <h4><a href="/songs/new">Add New Song</a><br>
     <a href="/artists/new">Add New Artist</a></h4>

</div>

