<h3>Artists</h3>

<ol>
  <% artistz = @artists.sort{|a1, a2| a1.name.downcase <=> a2.name.downcase} %>
  <% max = Artist.longest_name_length(artistz) %>
  <% artistz.each do |artist| %>
    <li><a href="/artists/<%= artist.id %>"><pre><%= artist.print(max) %></pre></a></li>
  <% end %>
</ol>

<br>