<h3>Add New Artist</h3>

<form action="/artists" method="POST">
  
  <br>
  <h4>
  <label for="artist_name"><strong>Artist Name:</strong></label>
  <input type="text" name="artist_name">
  </h4>
  <br>

  <fieldset>
    
    <label for="songs[][name]">Song Name:</label>
    <input type="text" name="songs[][name]">
    <br>
    <label for="songs[][genre]">Genre:</label>
    <input type="text" name="songs[][genre]">
    
  </fieldset>

  <br>

  <fieldset>
    
    <label for="songs[][name]">Song Name:</label>
    <input type="text" name="songs[][name]">
    <br>
    <label for="songs[][genre]">Genre:</label>
    <input type="text" name="songs[][genre]">
    
  </fieldset>

  <br>

  <button type="submit">Add Artist with Songs</button>
</form>

<br>